<section id="hero" class="hero-slider light-typo full-height" data-height="600" >


  <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">
    
    <!-- Slide 1 -->
    <div class="item m-center" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fslider_01.jpg?alt=media&token=7bf14f47-21be-4259-8cde-01c936aa8f45);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <!-- Aqui você pode habilitar um logo transparente do CortinaFacil no primeiro slide
                <img id="logo" src="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fslide1_logoTransparente.png?alt=media&token=1ad485a0-da6b-4fd6-865e-f3e1409ca618" class="img-responsive text-center" alt="shop logo" width="300">-->
                <p><span class="destaque">Cortinas produzidas pelas melhores costureiras da região, utilizando materiais de primeira qualidade e com preços realmente justos. Bem vindo ao CortinaFácil.com.br!</span></p>
                <a class="btn btn-store outline smooth-scroll" href="#produtos">CONHEÇA NOSSOS PRODUTOS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="item m-center" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fslider_02.jpg?alt=media&token=87b11198-e027-4cd3-81f9-feb54eb1fbc2);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <p><span class="destaque">Complementar a decoração dos ambientes, controlar a quantidade de luz que passa através das janelas, garantir mais privacidade e segurança, são apenas alguns exemplos das possíveis aplicações de cortinas.</span></p>
                <a class="btn btn-store outline smooth-scroll" href="#pedido">CONHEÇA NOSSO GUIA DE CORTINAS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="item m-center" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fslider_03.jpg?alt=media&token=cd58e413-e889-4b6f-8ef4-e577e8e048e0);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <p><span class="destaque">Você gostaria de se tornar nosso parceiro comercial?</span></p>
                <a class="btn btn-store outline smooth-scroll" href="#contato">ENTRE EM CONTATO AGORA MESMO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
