<section id="produtos" class=" padding-top-bottom gray-bg">
  <div class="container">
    <header class="section-header text-center anima fade-up">
      <h2>PRODUTOS</h2>
    </header>
  </div>
  <div class="container">
    <div id="projects-container" class="row">

      <!-- Galeria 1 -->
      <article class="design product col-xs-12 col-sm-6 col-md-4 anima fade-up">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" [src]="imgMini1 | async" alt="">
        </div>
        <div class="product-info col-md-12">
          <div><h4 class="project-title">Cortinas Principais</h4></div>
        </div>

        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_01.jpg?alt=media&token=463cbc0d-7b00-4754-a471-37083de5f48a,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_02.jpg?alt=media&token=4e608edb-88a1-4760-97de-34beb1d83d2d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_03.jpg?alt=media&token=fb667afc-8ab4-4e10-a9f2-0dfe3ff4c838,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_04.jpg?alt=media&token=7e03f16a-297e-41c7-9200-c088b2f5a403,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_05.jpg?alt=media&token=094e4e36-299b-4faf-b175-c942a94a25b8,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_06.jpg?alt=media&token=a35a8afe-1daf-403b-8f7e-c278c6e052ce,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_07.jpg?alt=media&token=f067255c-6e8d-4ad8-9d41-1f10b8bdeba8,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_08.jpg?alt=media&token=04578d31-286f-4d60-8da5-0cd69b71b951,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_09.jpg?alt=media&token=cf47e669-6f61-4a10-be8c-22bd5389eb22,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_10.jpg?alt=media&token=67ea6ddc-04d5-4163-8d78-e302733a5705,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_11.jpg?alt=media&token=85abd704-4e99-4f9d-b260-0f92c151bd48,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_12.jpg?alt=media&token=ed806665-2991-418c-b013-11bb29724462,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_13.jpg?alt=media&token=012a2c0e-68bc-48ab-b7e8-649d5572abe2,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_14.jpg?alt=media&token=7733bf55-512f-4d1c-84cd-fc90f260f630,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_15.jpg?alt=media&token=7bec35dc-8dba-439a-b7e4-a82369906f2d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_16.jpg?alt=media&token=a5d1d469-8623-4ed7-9ad7-096cf3d6c54b,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_17.jpg?alt=media&token=ef7069cd-a000-4258-ad30-634d75c25b17,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_18.jpg?alt=media&token=7a3c777e-89be-4465-9402-76b2a3ceb2ca,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_19.jpg?alt=media&token=38fe6de0-1807-478b-8d03-dfe78ea92397,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_20.jpg?alt=media&token=8a7b0ed0-f6fc-4d5b-8485-e0ca5944c73c,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_21.jpg?alt=media&token=a5be6bfe-aa29-4083-a6e4-04808c3f5f4c
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_principais_22.jpg?alt=media&token=8adf18ae-4879-4086-a008-93e50b778200">
        </div>
      </article>

      <!-- Galeria 2 -->
      <article class="mock-up product col-xs-12 col-sm-6 col-md-4 anima fade-up d1">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" [src]="imgMini2 | async" alt="">
        </div>
        <div class="product-info col-md-12">
          <div><h4 class="project-title">Cortinas Blackout</h4></div>
        </div>
        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_blackout_01.jpg?alt=media&token=362a7bae-35f7-4f4f-9227-2d033ba6093e,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_blackout_02.jpg?alt=media&token=ab418fe8-a809-443b-96e3-007255d9c779,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_blackout_03.jpg?alt=media&token=2b65420e-14a9-4762-92b2-49acbdb016e9,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_blackout_04.jpg?alt=media&token=3b983452-81a2-494d-a5df-e4027611bb44,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_blackout_05.jpg?alt=media&token=8ea19db6-3c6b-48d5-8e1b-4585ae328c8e">
        </div>
      </article>

      <!-- Galeria 3 -->
      <article class=" icons product col-xs-12 col-sm-6 col-md-4 anima fade-up d2">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" [src]="imgMini3 | async" alt="">
        </div>
        <div class="product-info col-md-12">
          <div><h4 class="project-title">Suporte/ Acessórios</h4></div>
        </div>
        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_acessorios_01.jpg?alt=media&token=4ec1b22b-507e-4ce2-8449-ec8031a3291b,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_acessorios_02.jpg?alt=media&token=3c6b6e2e-4866-431e-818c-8f48b3a038d1,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2Fprodutos_acessorios_03.jpg?alt=media&token=c0acd56e-86ff-44c1-b26b-6cba77d06f16">
        </div>
      </article>
    </div>
  </div>

  <!-- Detalhe da imagem -->
  <div id="project-modal" class="modal " style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div>
        <a class="close pull-right" href="#" data-dismiss="modal" ><i class="icon-close"></i></a>
      </div>
      <div id="project-slider" class="owl-carousel owl-theme" data-navigation="true" data-dots="true" ></div>
    </div>
  </div>

</section>
