<section id="sobre" class="padding-top-bottom ">
  <div class="container">
    <div class="row">

      <!--Título -->
      <div class="col-md-4 anima fadeInLeft">
        <header class="section-header cta-message">
          <h2>SOBRE NÓS</h2>
          <h4>Confiança em primeiro lugar</h4>
        </header>
      </div>

      <!--Texto -->
      <div class="col-md-8 cta-message anima fade-up">
        <p><strong>Comprar boas cortinas de maneira simples, rápida e barata!</strong></p>
        <p>Este é o serviço que o <strong>Cortina Fácil</strong> disponibiliza a seus clientes em todo o Brasil, com garantia de qualidade e entrega dentro do prazo esperado.
        <!--</p><p style="display:none;" id="showme">-->
          Situada em São Sebastião do Caí, município localizado entre a região metropolitana de Porto Alegre e a Serra Gaúcha, a <strong>CortinaFacil.com.br</strong> busca atender às necessidades de quem precisa comprar boas cortinas de maneira simples, rápida e barata, reunindo as melhores empresas e costureiras da região, com qualidade garantida do início ao fim!
          <br><br>Não encontrou o tecido que gostaria para sua cortina ou gostaria de um produto personalizado? Sem problemas! Acesse a área de <strong>CONTATO</strong> e fale com um de nossos representantes, pois a equipe do <strong>CortinaFacil.com.br</strong> está aqui para atendê-lo e ajudá-lo da melhor forma possível!
        </p>
        <!--<a class="btn btn-store outline" id="show-btn" href="#">Leia mais</a>-->
      </div>

    </div>
  </div>
</section>
