<section id="cta" class="padding-top-bottom color-bg light-typo">
  <div class="container">
    <div class="row text-center">

      <!--Quadro 1 -->
      <div class="col-md-4 col-sm-4 news anima fade-up">
        <i class="icon-trophy iconBig"></i>
        <h3>Qualidade garantida</h3>
      </div>

      <!--Quadro 2 -->
      <div class="col-md-4 col-sm-4 news anima fade-up d1">
        <i class="icon-truck iconBig"></i>
        <h3>Entrega rápida</h3>
      </div>

      <!--Quadro 3 -->
      <div class="col-md-4 col-sm-4 anima fade-up d2">
        <i class="icon-lock iconBig"></i>
        <h3>Pagamento seguro</h3>
      </div>

    </div>
  </div>
</section>
